#home{
    -fx-background-image: url("/media/OPACITY.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: top left;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#title{
    -fx-font-family: Roboto, regular;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}

#body{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: 500;
    -fx-font-size: 12px;
}

#button{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#signInTitle{
    -fx-font-family: Roboto, regular;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#signInSubtitle{
    -fx-font-family: Roboto, regular;
    -fx-font-size: 18px;
}

#signInBody{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 500;
}

#signInButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#signInAccent{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 10px;
}

#createAccountBody{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 500;
}

#createAccountAccent{
    -fx-font-family: Roboto, regular;
    -fx-font-size: 14px;
    -fx-font-style: italic;
}

#createAccountButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#menuIcon{
    -fx-background-radius: 30px;
    -fx-background-image: url("/media/profile_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 28 28;
    -fx-background-position: top center;
    -fx-background-color: rgba(0,7,122, 0.8);
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.intersection {
    -fx-fill: #21357E ;
}
.intersection:selected {
    -fx-fill: gold ;
}

#navBarButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

#homePageTitle{
    -fx-font-family: Roboto, regular;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
}

#homePageSubtitle{
    -fx-font-family: Roboto, regular;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

#homePageBody{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#homePageButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 20px;
    -fx-underline: true;
}

#helpButton{
    -fx-background-radius: 30px;
    -fx-background-image: url("/media/help.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 40 40;
    -fx-background-position: top center;
}

#exitConfirmation{
    -fx-font-family: Roboto, regular;
    -fx-font-weight: bold;
    -fx-font-size: 37px;
}

#forgotPasswordTitle{
    -fx-font-family: Roboto, regular;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

#forgotPasswordBody{
    -fx-font-family: Roboto, regular;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}

#forgotPasswordLabel{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 20px;
}

#headerText{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

#requestsSubtitle{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

#requestsAccent{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 19px;
    -fx-font-style: italic;
}

#requestsBody{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 16px;
}

#requestsButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

#formTitle{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#submittedReqSubtitle{
    -fx-font-family: Roboto, regular;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#submittedReqBody{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
}

#submittedReqBodyBold{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#submittedReqBodyItalic{
    -fx-font-family: Nunito, regular;
    -fx-font-size: 14px;
    -fx-font-style: italic;
}

#submittedReqCheckbox{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 18px;
}

#submittedReqButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#profileTitle {
    -fx-font-family: Roboto, regular;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

#profileHeading{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 22px;
}

#profileButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#profileBody{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 12px;
}

#profileBody2{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 18px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #21357E;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-fint-weight: bold;
}

#mapEditorButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#mapEditorCheckbox{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#mapEditorButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#pathfindingSubtitle{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#databasePopupTitle{
    -fx-font-family: Roboto, regular;
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

#kioskTitle{
    -fx-font-family: Roboto, regular;
    -fx-font-size: 49px;
}

#kioskBody{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
}

#kioskAccent{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 23px;
}

#kioskButton{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 23px;
}

#kioskEditorSubtitle{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-font-style: italic;
}

#creditsLink{
    -fx-font-family: Roboto, regular;
    -fx-font-size: 12px;
}

#about{
    -fx-font-family: Nunito, sans-serif;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}